<div class="jumbotron" style="background: url('http://freeliquidtemplates.com/free-headers-for-websites/header7.jpg')">
	<center>
		<center><font color="white"><h1>Editing Task</h1></font></center>
	</center>
</div>


<%= render 'form', task: @task %>

<%= link_to 'Show', @task %> |
<%= link_to 'Back', tasks_path %>
