<div class="jumbotron" style="background: url('http://freeliquidtemplates.com/free-headers-for-websites/header7.jpg')">
	<center>
		<center><font color="white"><h1>New Task</h1></font></center>
	</center>
</div>

<%= render 'form', task: @task %>


<a href="/tasks" class="btn btn-info btn-s">Back</a>
